/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px]: is where our styles apply
1800px + : Big Desktop

Set the arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

Use em is better than rem
1em = 16px
*/
/*
COLORS:

Red: #c92a2a;
Medium Red: #f03e3e;
Light Red: #ff6b6b;
Gray: #212529;
Background Light: #3948B5;
Backgroud-dark: #1D2247;

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #c92a2a;
  color: #fff; }

body {
  font-family: 'Poppins', 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #c92a2a; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.main {
  background-image: linear-gradient(to right top, rgba(0, 0, 2, 0.65) 50%, rgba(3, 6, 31, 0.65) 100%), url("../../img/Universe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__heading-box {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main__heading--primary {
    font-family: inherit;
    font-size: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .main__heading--primary {
        font-size: 6rem; } }
  .main__heading--secondary {
    font-family: 'Space Mono';
    font-size: 3rem;
    color: #f03e3e; }
    @media only screen and (max-width: 37.5em) {
      .main__heading--secondary {
        font-size: 2.5rem; } }
  .main .icon-box {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main .icon {
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    animation: all 0.2s; }
    .main .icon:hover {
      transform: scale(1.2) translateY(-0.1rem); }
  .main .icon a:link,
  .main .icon a:visited {
    text-decoration: none;
    color: #fff; }
