/*
COLORS:

Red: #c92a2a;
Medium Red: #f03e3e;
Light Red: #ff6b6b;
Gray: #212529;
Background Light: #3948B5;
Backgroud-dark: #1D2247;

*/

$color-primary: #c92a2a;
$color-primary-light: #f03e3e;

$color-background-medium: #03061f;
$color-background-dark: #000002;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
